:root {

    /* Light mode variable definitions */
    --page-background-color: #ffffff;
    --content-background-color: #eeeeee;
    --primary-text-color: #000000;
    --secondary-text-color: #555555;
    --ternary-text-color: #757575;
    --contrast-text-color: #ffffff;
    --primary-shadow-color: #dddddd;
    --primary-button-color: #52A7FA;
    --input-background-color: #f8f8f8;
    --input-border-color: #bbbbbb;
    --overlay-color: #000000;

}

@media (prefers-color-scheme: dark) {

    :root {
        /* Dark mode variable definitions */
        --page-background-color: #000000;
        --content-background-color: #222222;
        --primary-text-color: #ffffff;
        --secondary-text-color: #C0C0C0;
        --ternary-text-color: #A0A0A0;
        --contrast-text-color: #000000;
        --primary-shadow-color: #222222;
        --primary-button-color: #3C78FB;
        --input-background-color: #222222;
        --input-border-color: #4a4a4a;
        --overlay-color: #000000;
    }

}

@font-face {

    font-family: omnes-pro;
    font-weight: 400;
    src: url(omnes-pro-light.otf);

}

@font-face {

    font-family: omnes-pro;
    font-weight: 500;
    src: url(omnes-pro-regular.otf);

}

@font-face {

    font-family: omnes-pro;
    font-weight: 700;
    src: url(omnes-pro-semibold.otf);

}

html,
body {
    position: absolute;
}

.preload * {

    transition: none !important;

}

body {

    margin: 0;
    overflow: hidden;
    color: var(--primary-text-color);
    background-color: var(--page-background-color);
    font-family: omnes-pro, system-ui, sans-serif;
    font-weight: 700;
    height: 100vh;
    height: -webkit-fill-available;
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    width: 100vw;

    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    /* To prevent a delay after tapping on iOS */
    touch-action: manipulation;

    /* Prevent gray box touch highlight on iOS */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

input[type="text"] {
    -webkit-user-select: element;
    user-select: element;

    /* To prevent Safari on iOS zooming in when the input field is focused */
    font-size: 16px;
}

.hidden {

    display: none !important;

}

.welcomeContainer {

    transform: none;
    box-shadow: 0 0 10px var(--primary-shadow-color);
    transition: all 0.6s ease;
    z-index: 4;
    background-color: var(--page-background-color);
    width: 100vw;
    height: 100vh;
    position: fixed;

}

.welcomeContainer img.header {

    width: 100vw;
    height: 40vh;
    object-fit: cover;

}

.welcomeContainer h1,
.webClipPromptContainer h1 {

    font-size: 40px;
    line-height: 1em;
    margin: 25px;

}

.welcomeContainer > p,
.webClipPromptContainer > p {

    margin: 0 25px;
    font-size: 22px;

}

.webClipPromptContainer {

    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--page-background-color);
    z-index: 5;
    transform: none;
    transition: all 0.6s ease;

}

.webClipPromptContainer.hidden {

    transform: translateX(calc(100vw + 10px));
    display: block !important;

}

.webClipPromptContainer div.header {

    width: 100vw;
    height: 40vh;
    background-color: var(--content-background-color);

}

.webClipPromptContainer div.header img {

    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 15px;

}

.webClipPromptContainer div.header p {

    position: absolute;
    top: calc(20vh + 30px);
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 15px;
    font-family: system-ui;
    font-weight: normal;

}

.webClipPromptContainer p img {

    margin-left: 4px;
    height: 20px;
    width: auto;

}

.webClipPromptContainer p span {

    background-color: var(--content-background-color);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    font-family: system-ui;
    font-weight: normal;

}

button.fullWidthButton {

    position: fixed;
    bottom: 5px;
    bottom: calc(5px + env(safe-area-inset-bottom));
    left: 5px;
    width: calc(100vw - 10px);
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-button-color);

    color: var(--contrast-text-color);
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;

    transition: opacity 0.1s ease;

}

button.fullWidthButton:active {

    opacity: 0.5;

}

button.fullWidthButton.hidden {

    opacity: 0;
    display: block !important;

}

.setupContainer {

    box-shadow: 0 0 10px var(--primary-shadow-color);
    transition: all 0.6s ease;
    z-index: 6;
    background-color: var(--page-background-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding-left: 20px;

}

.setupContainer form {

    height: calc(100vh - 60px);
    overflow: scroll;

}

.setupContainer.hiddenRight {

    transform: translateX(calc(100vw + 10px));

}

.setupContainer.hidden {

    transform: translateY(calc(-100vh - 10px));
    display: block !important;

}

.setupContainer h2 {

    margin: 20px 0 0 0;
    display: inline-block;

}

.setupContainer input.teamColorInput {

    display: inline-block;
    margin-left: 15px;
    background-color: var(--input-background-color);
    border: 0.5px solid var(--input-border-color);
    padding: 2.5px 2.5px;
    border-radius: 5px;
    box-shadow: 0 0 2px var(--primary-shadow-color);
    box-sizing: border-box;

}

.setupContainer input.teamNameInput,
.setupContainer input.quizzerNameInput {

    display: block;
    margin-top: 5px;
    width: calc(100vw - 50px);

    background-color: var(--input-background-color);
    border: 0.5px solid var(--input-border-color);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 2px var(--primary-shadow-color);
    color: var(--primary-text-color);
    font-family: inherit;
    font-weight: 500;

}

.setupContainer input.teamNameInput {

    font-size: 20px;
    height: 30px;

}

.quizzerCard {

    background-color: var(--content-background-color);
    width: calc(100% - 20px);
    height: 45px;
    border-radius: 10px;
    margin: 10px;
    position: fixed;
    top: 35px;

}

.quizzerCard:active {
    opacity: 0.5;
}

.quizzerCard:nth-child(3) {
    top: 40px;
}

.quizzerCard:nth-child(4) {
    top: 100px;
}

.quizzerCard:nth-child(5) {
    top: 150px;
}

.quizzerCard:nth-child(6) {
    top: 200px;
}

.quizzerCard:nth-child(7) {
    top: 250px;
}

.quizzerCard:nth-child(8) {
    top: 300px;
}

.quizzerCard.disabled {
    opacity: 0.5;
}

.quizzerCard .cardSeatNumberLabel {

    margin: 0;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    color: var(--ternary-text-color);

}

.quizzerCard .cardLabel {

    margin: 0;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translate(0, -50%);

}

.quizzerCard .cardScore {

    margin: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);

}

.overviewContainer {

    z-index: 1;

}

.overviewContainer > div.team1,
.overviewContainer > div.team2 {

    background-color: var(--content-background-color);
    margin: 25px;
    width: calc(100% - 50px);
    height: calc((100% / 2) - 47.5px);
    border-radius: 25px;
    position: fixed;
    overflow: hidden;

}

.overviewContainer > div.team1 {
    top: 20px;
}

.overviewContainer > div.team2 {
    bottom: 0;
}

.overviewContainer > div > p.teamName {

    position: absolute;
    top: 25px;
    left: 25px;
    margin: 0;

}

.overviewContainer > div > h1.teamScore {

    position: absolute;
    font-size: 50px;
    top: 40px;
    left: 25px;
    margin: 0;

}

.overviewContainer div.teamStatusContainer {

    position: absolute;
    bottom: 15px;
    left: 25px;

}

.overviewContainer div.actionsContainer {

    position: absolute;
    height: calc(100% - 50px);
    margin-top: 25px;
    right: 25px;
    color: var(--primary-text-color);

}

.overviewContainer div.actionsContainer div {

    background-color: var(--page-background-color);
    height: calc(25% - 2.5px);
    border-radius: 5px;
    width: 125px;
    margin-bottom: 5px;
    position: relative;
    transition: opacity 0.1s ease;

}

.overviewContainer div.actionsContainer div:active {

    opacity: 0.5;

}

.overviewContainer div.actionsContainer div.disabled {

    opacity: 0.5;

}

.overviewContainer div.actionsContainer p {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    transform: translate(-50%, -50%);

}

.screenTitle {

    position: fixed;
    margin: 0;
    top: 10px;
    right: 25px;

}

.confirmationDialog {

    background-color: var(--content-background-color);
    position: fixed;
    bottom: 10px;
    bottom: calc(10px + env(safe-area-inset-bottom));
    left: 10px;
    width: calc(100% - 20px);
    height: 300px;
    box-shadow: 0 0 5px var(--primary-shadow-color);
    border-radius: 20px;
    z-index: 3;

    transform: translate(0, 125%);
    transition: transform 0.3s ease;

}

.confirmationDialog .closeButton {

    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--page-background-color);

}

.confirmationDialog .closeButton:active {

    opacity: 0.5;

}

.confirmationDialog .closeButton img {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;

}

.confirmationDialog > p {

    position: absolute;
    top: 85px;
    left: 25px;
    width: calc(100% - 50px);
    font-size: 20px;

}

.confirmationDialog h2 {

    margin: 0;
    position: absolute;
    top: 20px;
    left: 25px;
    color: var(--secondary-text-color);

}

.confirmationDialog h1 {

    margin: 0;
    position: absolute;
    top: 45px;
    left: 25px;
    font-size: 50px;

}

.confirmationDialog button {

    position: absolute;
    bottom: 15px;
    width: calc(50% - 22.5px);
    height: 50px;
    border: none;
    background-color: var(--page-background-color);
    border-radius: 15px;
    color: var(--primary-text-color);
    font-size: 20px;
    font-family: inherit;
    font-weight: 700;
    line-height: 95%;

}

.confirmationDialog button:active {

    opacity: 0.5;

}

.confirmationDialog button:nth-of-type(1) {

    left: 15px;

}

.confirmationDialog button:nth-of-type(2) {

    right: 15px;

}

.overlay {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--overlay-color);
    opacity: 0.0;
    display: none;

    transition: opacity 0.2s ease;

}

.selectionScreen {

    transform: none;
    box-shadow: 0 0 10px var(--primary-shadow-color);
    transition: all 0.5s ease;
    z-index: 2;
    background-color: var(--page-background-color);
    width: 100vw;
    height: 100vh;
    position: fixed;

}

.selectionScreen.hidden {

    transform: translateX(calc(100vw + 10px));
    display: block !important;

}

.selectionScreen button {

    position: fixed;
    top: 10px;
    left: 10px;
    height: 25px;
    width: 60px;
    border: none;
    background-color: var(--content-background-color);
    color: var(--primary-text-color);
    border-radius: 10px;
    font-family: inherit;
    font-weight: 700;

}

.selectionScreen button:active {

    opacity: 0.5;

}

.selectionScreen button p {

    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.endRoundButton {

    position: fixed;
    top: 10px;
    left: 25px;
    height: 25px;
    width: 35px;
    border: none;
    background-color: var(--content-background-color);
    color: var(--primary-text-color);
    border-radius: 10px;

}

.endRoundButton:active {

    opacity: 0.5;

}

.endRoundButton img {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;

}

.bugReportButton {

    position: fixed;
    top: 10px;
    left: 75px;
    height: 25px;
    width: 35px;
    border: none;
    background-color: var(--content-background-color);
    color: var(--primary-text-color);
    border-radius: 10px;

}

.bugReportButton:active {

    opacity: 0.5;

}

.bugReportButton img {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;

}

.mainContainer {

    position: fixed;
    z-index: 3;

}

.confirmationDialog .erroneousInformationCheckbox {

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;

}

.confirmationDialog .erroneousInformationCheckbox:nth-of-type(2) {
    bottom: 120px;
}

.confirmationDialog .erroneousInformationCheckbox:nth-of-type(3) {
    bottom: 85px;
}

.confirmationDialog .erroneousInformationCheckbox .checkbox {

    width: 25px;
    height: 25px;
    background-color: var(--page-background-color);
    display: inline-block;
    border-radius: 7.5px;

}

.confirmationDialog .erroneousInformationCheckbox .checkbox div {

    opacity: 0;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    border-radius: 5px;
    background-color: var(--primary-text-color);
    transition: all 0.15s ease;

}

.confirmationDialog .erroneousInformationCheckbox.checked .checkbox div {

    opacity: 1;

}

.confirmationDialog .erroneousInformationCheckbox p {

    margin: 0;
    display: inline-block;
    position: relative;
    bottom: 7.5px;
    margin-left: 7.5px;

}

.setupContainer .useTeamColorsCheckbox {
    margin-top: 15px;
}

.setupContainer .useTeamColorsCheckbox .checkbox {

    width: 25px;
    height: 25px;
    background-color: var(--content-background-color);
    display: inline-block;
    border-radius: 7.5px;

}

.setupContainer .useTeamColorsCheckbox .checkbox div {

    opacity: 0;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    border-radius: 5px;
    background-color: var(--primary-text-color);
    transition: all 0.15s ease;

}

.setupContainer .useTeamColorsCheckbox.checked .checkbox div {

    opacity: 1;

}

.setupContainer .useTeamColorsCheckbox p {

    margin: 0;
    display: inline-block;
    position: relative;
    bottom: 7.5px;
    margin-left: 7.5px;

}
